html {
  font-size: 62.5%
}

p { margin: 0; padding: 0};


.m { font-size: $m-size};
.l { font-size: $l-size};
.xl { font-size: $xl-size};
.xxl { font-size: $xxl-size};
.xl {font-size: $xl-size }


body {
  // https://uigradients.com/#Royal
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 300;
  font-size: $l-size;
  color: white;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default
}