.shift-time {
  display: flex;
  justify-content: space-between;
}

.shift-time > div {
  width: 50%;
  display: flex;
  // background: lighten($dk-blue, 5%)
}

.shift-time > div:last-child{
   justify-content: flex-end;
}

.shift-time label {
  font-size: $xxxl-size;
  margin-right: $xl-size;
  color: $lt-grey-blue;
}

.shift-time input {
  height: $xxxl-size;
  width: 50%;
  font-size: $huge-size;
  background: inherit;
  border: none;
  color: white;

}