/*
3d5a80 darker gray blue
98c1d9  lighter grey blue
e0fbfc  white blue
ee6c4d  orange
293241 dark blue
*/
// colors
$dk-grey-blue: #3d5a80;
$lt-grey-blue: #98c1d9;
$lt-white-blue: #e0fbfc;
$orange: #ee6c4d;
$dk-blue: #293241;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.4rem;
$xl-size: 3.2rem;
$xxl-size: 4.2rem;
$huge-size: 5.5rem;